<div flex="100" class="footer md-hue-2" layout-padding layout-wrap layout="row" layout-align="center start" >


    <div layout="row" layout-align="center start">
        <span>Recipe search powered by 
            <a href='http://www.yummly.com/recipes' target="_blank">
                <u>Yummly</u></a>
            </span>
        </div>
        <div layout="row" flex="100" layout-align="center start" class="copyright-footer">
            <span>&copy; 2016-2017 Aishwarya Mittal</span>
        </div>
    </div>
