.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }



input[type='number'] {
  -moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.site-width {
  max-width: 1368px;
  margin: 0 auto;
}

body {


  font-family: 'PT Sans';
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;

}
.background-page{
  /* Set rules to fill background */

  background-image: url("../images/dessert_fruit_cream_cream_104887_1680x1050.jpg");
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;

}

.content-background{
  background-color: rgba(255,255,255,0.95);
  border-radius: 10px;


}

.recipes-bg{
  background-color:rgba(244, 208, 63   ,0.95);


  
}
.recipes-details-bg{
  background-color:rgba(255, 255, 255 ,1);

  
}

.recipe-bg{
  background-color: rgba(255,255,255,1);
  border-radius: 5px; 
}
.sub-toolbar{
  background-color: #FF5722;
  color: #fff;
  padding-left: 20px;
}

.recipe-name{

  min-height: 40px;
  text-overflow: ellipsis;
  text-align: center;
  word-wrap: break-all;
  font-size: 1em;
  margin:0.1em 0.1em;
  color: #808080; 
}

.source-name
{
  color:#1ABC9C; text-align:center;
}
md-input-container 
{
  margin-top: 30px;
  margin-bottom: -10px;
}
label{
  margin-bottom: -5px;
  font-size: 1.1em;
  color:grey;
}
.response-error-image{
  width:300px;
  height: 300px;
}
.response-error-bg{
  background-color:rgba(242, 243, 244 ,0.85);
  margin:50px;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {

}
.tagline {
  margin-bottom: -0.6em;
  font-size: 0.8em;
  text-align: center;
}
#link{
  text-decoration: underline;
  color:#424242  ;  
}

.cursor-pointer{
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.primary-text {
  color: #512DA8;
}
.accent-text {
  color: #FF5722;
}   

.card-item-row {
  max-height: 3.5em;
}

.card-item {
  padding: 0.3em;

}

.card-item-title {
  font-size: 1em;
  padding: 0px 0px 0.2em 0.4em;
  color: #808080;

} 
.item-title{
  font-size: 1.2em;
  padding: 0px 0px 0.1em 0.1em;
  color: #808080;  
}  
.small-image{
  width: 200px;
  max-height: 200px;
  border:1px solid #fff;
  border-radius:4px;
}
.icon-image{
  width:20px;
  height: 20px;
}
.recipe-filters-items{
  font-size:0.8em;
  margin:2px;
}
.large-recipe-image{
  width:400px;
  height: 300px;
}
.red{
  color: #FF5733;
  background-color: #FC9C87;
}

.stars-container {
  position: relative;

  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }

.md-button.tiny{
  line-height: 0;
  min-height: 20px;
  height: 25px;
  min-width: 25px;
  font-size: 12px;
}
.md-button.small{

  min-width: 35px;
  padding: 1px;
  height:32px;
  line-height: 1em;
  min-height: 25px;
}
.footer {
  background: rgb(69,39,160);
  font-family: 'PT Sans';
  color: #fff;
 /* margin-top: 2em;*/
  margin-bottom: 0px;



}
.copyright-footer {
  font-size: 0.8em;
  color: #727272;
}

.logo-container {
  background: url('../images/logo-yummly_sprite.svg') 0 0/124px auto no-repeat;
  text-indent: -9999em;
  position: absolute;
  height: 100%;
  width: 100%;
}